@import 'variables';
@import 'mixins';

body {
    background-color: black;
    font-family: $font;
    color: #f9fcf9;
    padding: $regular-size;
    @include border();
}

.header {
    h1 {
        color: #fcfcfc;
    }
    .sub {
        color: $blue;
    }
        span {
            color: #ffa600;
        }
}

.footer {
    padding: $regular-size;
    @include border(#f8027d);
    h2 {
        color: $red;
    }
}



