body {
  background-color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: green; }

.header {
  border: 1px solid yellow; }
  .header h1 {
    color: white; }
  .header .sub {
    color: #0082fc; }
  .header span {
    color: yellow; }

.footer {
  padding: 10px;
  border: 1px solid green; }
  .footer h2 {
    color: #fc0000; }
